.ipynb_checkpoints/
legacy/
datos_crudos/datos_lab
datos_crudos/datos_nuevos
datos_crudos/training
datos_crudos/csv
datos_crudos/dat testing
datos_crudos/dat training
datos_crudos/pruebas random
datos_nuevos/otherData
preprocesados/
pca/
librerias/
trn_tst/legacy
__pycache__