.ipynb_checkpoints/
legacy/
datos_crudos/
datos_nuevos/
preprocesados/
pca/
librerias/The-Real-Time/linux-80211n-csitool-supplementary
librerias/The-Real-Time/CSI_Monitor.py
librerias/The-Real-Time/read_bf_socket.m
trn_tst/legacy
__pycache__